<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <!-- Primary Meta Tags -->
        <title> Dashboard </title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="title" content="Dashboard">
        <meta name="author" content="Shahid">
    </head>
    <body>
        <app-sidebar></app-sidebar>

        <main class="content">
            <app-topbar></app-topbar>

                <router-outlet></router-outlet>

            <app-footer></app-footer>
        </main>
    </body>
</html>